.wps-bv {
    background-image:url(../img/bv3d.png) !important;
    height:20px !important;
    width:20px !important;
}
.wps-bvfromselection {
    background-image: url(../img/table_go.png) !important;
}
.wps-help {
    background-image: url(../img/help.png) !important;
}
.ogc {
    background-image: url(../img/wms_go.png) !important;
    height:20px !important;
    width:20px !important;
}
.wps-uploadfile {
    background-image: url(../img/upload_file.png) !important;
    height:20px !important;
    width:20px !important;
}
.x-form-file-wrap {
    position: relative;
    height: 22px;
}
.x-form-file-wrap .x-form-file {
	position: absolute;
	right: 0;
	-moz-opacity: 0;
	filter:alpha(opacity: 0);
	opacity: 0;
	z-index: 2;
    height: 22px;
}
.x-form-file-wrap .x-form-file-btn {
	position: absolute;
	right: 0;
	z-index: 1;
}
.x-form-file-wrap .x-form-file-text {
    position: absolute;
    left: 0;
    z-index: 3;
    color: #777;
}
